.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200);
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
}

 nav > a {
    display: flex;
    border: 1px solid;
    text-decoration: none;
    padding: 8px;
}

#name {
    color: green;
    font-weight: bold;
    
}

.banner-img {
    background-image: url(https://picsum.photos/370);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.banner-img.banner-1 {
    background-image: url(https://picsum.photos/300);
}

.banner-img.banner-2 {
    background-image: url(https://picsum.photos/350);
}

.banner-img.banner-3 {
    background-image: url(https://picsum.photos/500);
}

.our-profile-content {
    border: 1px solid;
    height: 500px;
    text-align: center;
    align-content: center;
}

.achievement-content {
    border: 1px solid;
    height: 500px;
}

.message-us-content {
    border: 1px solid;
    height: 500px;
    display: flex;
    justify-content: left;
}

footer {
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .main-header {
        flex-direction: column;
    }
}