body {
    background: cornsilk;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200);
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
}

 nav > a {
    display: flex;
    border: 1px solid;
    text-decoration: none;
    padding: 8px;
}

#name {
    color: green;
    font-weight: bold;
    
}

.banner-img {
    background-image: url(https://picsum.photos/370);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.banner-img.banner-1 {
    background-image: url(https://picsum.photos/300);
}

.banner-img.banner-2 {
    background-image: url(https://picsum.photos/350);
}

.banner-img.banner-3 {
    background-image: url(https://picsum.photos/500);
}

.our-profile-content {
    height: 500px;
    text-align: center;
    align-content: center;
}

.profile-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    height: fit-content;
    text-align: center;
    padding: 20px;
    border: 1px solid;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile-info h1 {
    margin-bottom: 10px;
}

.profile-info p {
    margin-bottom: 15px;
}

.social-links {
    height: auto;
    width: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin: 0 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
}

.achievement-content {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    height: fit-content;
    text-align: center;
    padding: 20px;
    border: 1px solid;
    height: 500px;
}

.message-us-content {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    height: fit-content;
    text-align: center;
    padding: 20px;

    border: 1px solid;
    height: 200px;
    width: auto;
    display: flex;
    align-items: left;
    align-content: center;
    
}


footer {
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .main-header {
        flex-direction: column;
    }
}